/node_modules
/public/hot
/public/storage
/public/img/patients
# public/public is because the server works with public in te url
/public/public/
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
